{
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 6,
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:jest/recommended"
    ],
    "plugins": [
      "react",
      "jest",
      "react-hooks"
    ],
    "rules": {
      "semi": "error",
      "sort-imports": "warn",
      "no-var": "error",
      "no-console": "off",
      "quotes": [
        2,
        "single",
        {
          "avoidEscape": true
        }
      ],
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn"
    },
    "env": {
      "es6": true,
      "browser": true,
      "amd": true,
      "node": true
    },
    "settings": {
      "react": {
        "version": "16.8"
      }
    }
  }